.right-li{
	float:right;
}
.container.hero-unit.new{
	font-size:13px;
	line-height:20px;
	text-align:center;
    padding: 20px 60px 20px 60px;
    margin-bottom: 10px;
}
.container.hero-unit{
 	margin-bottom:10px;
 	padding:10px 60px;
 }
 .nav-class{
  float:right;
 }